USE [master]
GO
/****** Object:  Database [DDS]    Script Date: 1/11/2023 7:06:22 PM ******/
CREATE DATABASE [DDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CUONGPHAM\MSSQL\DATA\DDS.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CUONGPHAM\MSSQL\DATA\DDS_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDS]
GO
/****** Object:  Table [dbo].[Dim_Age]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Age](
	[id] [bigint] NOT NULL,
	[minAge] [int] NULL,
	[maxAge] [int] NULL,
	[note] [varchar](100) NULL,
 CONSTRAINT [PK_Dim_Age] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Case_Status]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Case_Status](
	[CSid] [bigint] NOT NULL,
	[name] [varchar](100) NULL,
 CONSTRAINT [PK_Dim_Case_Status] PRIMARY KEY CLUSTERED 
(
	[CSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[date_ID] [date] NOT NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Quarter] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[date_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Phu]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Phu](
	[id] [bigint] NOT NULL,
	[Phuid] [bigint] NULL,
	[groupID] [bigint] NULL,
	[name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Dim_Phu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Phu_Group]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Phu_Group](
	[id] [bigint] NOT NULL,
	[name] [varchar](100) NULL,
	[city] [varchar](100) NULL,
 CONSTRAINT [PK_Dim_Phu_Group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Case_Report]    Script Date: 1/11/2023 7:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Case_Report](
	[Caseid] [bigint] NOT NULL,
	[PHUID] [bigint] NULL,
	[statusID] [bigint] NULL,
	[ageGroupID] [bigint] NULL,
	[date_ID] [date] NULL,
	[province] [varchar](100) NULL,
	[gender] [varchar](100) NULL,
 CONSTRAINT [PK_Fact_Case_Report] PRIMARY KEY CLUSTERED 
(
	[Caseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_Phu]  WITH CHECK ADD  CONSTRAINT [FK_Phu_Phu_Group] FOREIGN KEY([groupID])
REFERENCES [dbo].[Dim_Phu_Group] ([id])
GO
ALTER TABLE [dbo].[Dim_Phu] CHECK CONSTRAINT [FK_Phu_Phu_Group]
GO
ALTER TABLE [dbo].[Fact_Case_Report]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Case_Report_AgeGroup] FOREIGN KEY([ageGroupID])
REFERENCES [dbo].[Dim_Age] ([id])
GO
ALTER TABLE [dbo].[Fact_Case_Report] CHECK CONSTRAINT [FK_Fact_Case_Report_AgeGroup]
GO
ALTER TABLE [dbo].[Fact_Case_Report]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Case_Report_Case_Status] FOREIGN KEY([statusID])
REFERENCES [dbo].[Dim_Case_Status] ([CSid])
GO
ALTER TABLE [dbo].[Fact_Case_Report] CHECK CONSTRAINT [FK_Fact_Case_Report_Case_Status]
GO
ALTER TABLE [dbo].[Fact_Case_Report]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Case_Report_Date] FOREIGN KEY([date_ID])
REFERENCES [dbo].[Dim_Date] ([date_ID])
GO
ALTER TABLE [dbo].[Fact_Case_Report] CHECK CONSTRAINT [FK_Fact_Case_Report_Date]
GO
ALTER TABLE [dbo].[Fact_Case_Report]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Case_Report_Phu] FOREIGN KEY([PHUID])
REFERENCES [dbo].[Dim_Phu] ([id])
GO
ALTER TABLE [dbo].[Fact_Case_Report] CHECK CONSTRAINT [FK_Fact_Case_Report_Phu]
GO
USE [master]
GO
