USE [master]
GO
/****** Object:  Database [covidNDS]    Script Date: 12/26/2022 3:43:53 PM ******/
CREATE DATABASE [covidNDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'covidNDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CUONGPHAM\MSSQL\DATA\covidNDS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'covidNDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CUONGPHAM\MSSQL\DATA\covidNDS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [covidNDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [covidNDS]
GO
/****** Object:  Table [dbo].[AgeGroup]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgeGroup](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[minAge] [int] NULL,
	[maxAge] [int] NULL,
	[note] [varchar](100) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_AgeGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[PHUID] [bigint] NULL,
	[statusID] [bigint] NULL,
	[ageGroupID] [bigint] NULL,
	[date] [date] NULL,
	[province] [varchar](100) NULL,
	[gender] [varchar](100) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseStatus]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseStatus](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_CaseStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutBreak]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutBreak](
	[id] [bigint] NOT NULL,
	[groupID] [bigint] NULL,
	[PHUID] [bigint] NULL,
	[date] [datetime] NULL,
	[numberOngoingOutbreaks] [int] NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_OutBreak] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutBreakGroup]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutBreakGroup](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_Out_Break_Group] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU](
	[id] [bigint] NOT NULL,
	[groupID] [bigint] NULL,
	[name] [nvarchar](250) NULL,
	[city] [varchar](100) NULL,
	[address] [varchar](100) NULL,
	[postalCode] [varchar](100) NULL,
	[website] [varchar](100) NULL,
	[latitude] [varchar](100) NULL,
	[longitude] [varchar](100) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_PHU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUGroup]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUGroup](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[region] [nvarchar](250) NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_PHU_GROUP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 12/26/2022 3:43:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[PHUID] [bigint] NULL,
	[AgeGroupID] [bigint] NULL,
	[date] [date] NULL,
	[firstDoseCumulative] [int] NULL,
	[secondDoseCumulative] [int] NULL,
	[thridDoseCumulative] [int] NULL,
	[fullyVaccinatedCumulative] [int] NULL,
	[createdAt] [date] NULL,
	[lastModifiedAt] [date] NULL,
 CONSTRAINT [PK_Vaccine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_AgeGroup] FOREIGN KEY([ageGroupID])
REFERENCES [dbo].[AgeGroup] ([id])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_AgeGroup]
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_CaseStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[CaseStatus] ([id])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_CaseStatus]
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_PHU] FOREIGN KEY([PHUID])
REFERENCES [dbo].[PHU] ([id])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_PHU]
GO
ALTER TABLE [dbo].[OutBreak]  WITH CHECK ADD  CONSTRAINT [FK_OutBreak_OutBreakGroup] FOREIGN KEY([groupID])
REFERENCES [dbo].[OutBreakGroup] ([id])
GO
ALTER TABLE [dbo].[OutBreak] CHECK CONSTRAINT [FK_OutBreak_OutBreakGroup]
GO
ALTER TABLE [dbo].[OutBreak]  WITH CHECK ADD  CONSTRAINT [FK_OutBreak_PHU] FOREIGN KEY([PHUID])
REFERENCES [dbo].[PHU] ([id])
GO
ALTER TABLE [dbo].[OutBreak] CHECK CONSTRAINT [FK_OutBreak_PHU]
GO
ALTER TABLE [dbo].[PHU]  WITH CHECK ADD  CONSTRAINT [FK_PHU_PHUGroup] FOREIGN KEY([groupID])
REFERENCES [dbo].[PHUGroup] ([id])
GO
ALTER TABLE [dbo].[PHU] CHECK CONSTRAINT [FK_PHU_PHUGroup]
GO
ALTER TABLE [dbo].[Vaccine]  WITH CHECK ADD  CONSTRAINT [FK_Vaccine_AgeGroup] FOREIGN KEY([AgeGroupID])
REFERENCES [dbo].[AgeGroup] ([id])
GO
ALTER TABLE [dbo].[Vaccine] CHECK CONSTRAINT [FK_Vaccine_AgeGroup]
GO
ALTER TABLE [dbo].[Vaccine]  WITH CHECK ADD  CONSTRAINT [FK_Vaccine_PHU] FOREIGN KEY([PHUID])
REFERENCES [dbo].[PHU] ([id])
GO
ALTER TABLE [dbo].[Vaccine] CHECK CONSTRAINT [FK_Vaccine_PHU]
GO
USE [master]
GO
